.modal30 > .modal-dialog {
    width:30% !important;
}

.modal40 > .modal-dialog {
    width:40% !important;
}

.modal50 > .modal-dialog {
    width:50% !important;
}

.modal60 > .modal-dialog {
    width:60% !important;
}

.modal70 > .modal-dialog {
    width:70% !important;
}

.modal80 > .modal-dialog {
    width:80% !important;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/octopus/assets/images/preloader.gif) center no-repeat #fff;
}
