.modal30 > .modal-dialog {
    width:30% !important;
}

.modal40 > .modal-dialog {
    width:40% !important;
}

.modal50 > .modal-dialog {
    width:50% !important;
}

.modal60 > .modal-dialog {
    width:60% !important;
}

.modal70 > .modal-dialog {
    width:70% !important;
}

.modal80 > .modal-dialog {
    width:80% !important;
}

.userImgProfile {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}