<template>
    <data-table
            url="/datatable/administration/nomenclatorRanges"
            :per-page="perPage"
            :columns="columns">
    </data-table>
</template>

<script>
    export default {
        data() {
            return {
                perPage: ['10', '15'],
                columns: [
                    {
                        label: 'Nomenclador',
                        name: 'nomenclator_id',
                        data: 'nomenclator_id',
                        filterable: true,
                    },
                    {
                        label: 'Desde código',
                        name: 'from_code',
                        data: 'from_code',
                        filterable: true,
                    },
                    {
                        label: 'Hasta código',
                        name: 'to_code',
                        data: 'to_code',
                        filterable: true,
                    },
                    {
                        label: 'Acciones',
                        name: 'actions',
                        data: 'actions',
                        filterable: false,
                    }
                ]
            }
        }
    }
</script>